<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Leaderboard</title>
	<link rel="stylesheet" href="assets/css/style_leaderboard.css">
	<style type="text/css"></style>
</head>
<body>
	<h1>Leaderboard</h1>
	 	
	<div class="container">
 		<table>
			<th width=5%>Place</th>
 			<th width=50%>Login</th>
 			<th width=15%>Score</th>
    	</table>
    	<div class="values">
		  	<table>
		    	 <tr th:each="lb, ib : ${leaderBoard}">
		    	 	<td width=5% th:text="${ib.index + 1}"></td>
					<td width=50% th:text="${lb.userName}"></td>
					<td width=15% th:text="${lb.points}"></td>
			     </tr>
		  	</table>
		</div>
	</div>
	<p>
		<a id=center th:href="@{/Home}">Return to home</a>
	</p>
		
</body>
</html>
