<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Statistical Response</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<h1>Statistical Response</h1>
	
	<form action="Congratulation" method="POST">
		<div>
			<p>Age:</p>
        	<input type="text" id="age" name="age" required>
		</div>
		
		<div>
			<p>Sex:</p>
        	<input type="radio" id="male" name="gender" value="1" checked>
			<label for="male">Male</label>
			<input type="radio" id="female" name="gender" value="0">
			<label for="female">Female</label>
		</div>
		
		<div>
			<p>Expertise level:</p>
        	<input type="text" id="exp_lvl" name="exp_lvl" required>
		</div>
		
		<input type="hidden" th:value="${userID}" name="userID"/>
		<input type="hidden" th:value="${POTDid}" name="POTDid"/>	
		
		<input type="submit" name ="button" value="Submit">
		<input type="submit" name ="button" value="Cancel">
		
		<p th:text=" ${result}"></p>
	</form>
	
	<div align="center">
		<a th:href="@{/Home}">Home</a>
	</div>

</body>
</html>
