<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Statistical Response</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>

	<h1>Statistical Response</h1>
	
	<form action="Congratulation" method="POST">
		<label for="age">Age:</label><br>
		<input type="text" id="age" name="age" required><br>
		
		<label for="gender">Sex:</label><br>
	 	<input type="radio" id="male" name="gender" value="1" checked>
		<label for="male">Male</label><br>
		<input type="radio" id="female" name="gender" value="0">
		<label for="female">Female</label><br>
  		
		<label for="exp_lvl">Expertise level:</label><br>
		<input type="text" id="exp_lvl" name="exp_lvl" required><br>
		
		<input type="hidden" th:value="${userID}" name="userID"/>
		<input type="hidden" th:value="${POTDid}" name="POTDid"/>	
		
		<input type="submit" value="submit">
		<p th:text=" ${result}"></p>
	</form>
	
	<div align="center">
		<a th:href="@{/Home}">Home</a>
	</div>

</body>
</html>
