@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
.container{
    width:100%;
    border: 2px black;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

.homepage_container{
    margin: auto;
}

.questions{
    align-self: center;
    width:80%;
    border: 2px black;
    overflow: auto;
    margin: auto;
}

.cont_ques{
    height:25%;
    color: gray;
}

.quest{
    
    width: 100%;
    height: 20%;
    font-size: 15px;
}

.myInput{
margin: auto;
width:90%;
height:65%;
background-color: #6ED0F6;
align-content: center;
}
.myInput_field{
width:100%;
height:100%;
}

.button-container-homepage{
    width: 80%;
    height: 90%;
    margin: auto;
    border: 5px solid #6ED0F6;
    padding: 20px;
}

.button-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    border: 5px solid #6ED0F6;

    padding: 20px;
}
.animated-button {
  background: #079BCF;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 50px;
  width: 80%;
  margin: 10px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}
.animated-button span {
  display: block;
  line-height: 50px;
  position: relative;
  top: -2px;
  transform: translate3d(0,0,0);
}
.animated-button:hover {
  background: #007BA5;
}
