<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Admin Panel</title>
	<link rel="stylesheet" href="assets/css/style_leaderboard.css">
</head>
<body>
	<h1>Admin Panel</h1>
		
	<section id="admin-panel" class="links">		
		<div>
			<a style="color: #079BCF; font-size: 25" th:href="@{/Admin/Creation}">Creation page</a>
		</div>
		
		<div>
			<a style="color: #079BCF; font-size: 25" th:href="@{/Admin/Inspection}">Inspection page</a>
		</div>
		
		<div>
			<a style="color: #079BCF; font-size: 25"  th:href="@{/Admin/Deletion}">Deletion page</a>
		</div>
		
		<div>
			<a style="color: #079BCF; font-size: 25" th:href="@{/Logout}">Logout</a>
		</div>

	</section>
</body>
</html>
