<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
 	<title>Admin Inspection Page</title>
 </head>
 <body>
	<section>
	
		<form action="Inspection" method="POST">
		
			<div>
				<p>Select date:</p>
				<select name="inspectionDate" required>
					<option th:each="date : ${inspDates}" th:value="${date}"
							th:text="${date}" >
					</option>
				</select>
			</div>    
			
			<input type="submit" value="submit">
			<p th:text=" ${errorMsg}"></p>
		</form>		
		
	</section>
</body>
</html>