<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Admin Creation Page</title>
</head>
<body>  
	
	<h1>Admin Creation Page</h1>
	
	<h2>Add product</h2>
	<form action="Creation" method="POST">
		<div>
			<p>Enter product name:</p>
			<input type="text" name="prodName"></input>
		</div>
		
		<div>
			<p>Select image:</p>
        	<input type="file" name="prodImage" accept="image/png, image/jpeg" />
		</div>

		
       <!--  <input type="hidden" value="addProduct" >  -->
        <input type="submit" value="Add product" name="button">
		<p th:text=" ${errorMsg}"></p>
	</form>
	
	
	<h2>Add product of the day:</h2>
	<form action="Creation" method="POST">
		<div>
			<p>Select product:</p>
			<select name="prodId">
				<option th:each="p : ${products}" th:value="${p.productId}"
						th:text="${p.productName}">
				</option>
			</select>
		</div>
		
		<div>
			<p>Select date:</p>
			<input type="date" name="prodDate"
        	th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
       		<!-- min="2018-01-01" max="2018-12-31" -->
		</div>
		
		<div>
			<p>Enter the questions' number:</p>
            <input type="text" size="3" maxlength="2" value="1" name="numQuestion">
            <!--  <input type="hidden" value="addRow" name="buttonAction"> !-->
           
            <input type="submit" value="Add number" name="button" >
            <th:block th:each="i: ${#numbers.sequence(0, numQuestion - 1)}">
            	<div>
               		<input type="text" name="prodQuestions" th:placeholder="'Question #' + ${i + 1}">
               	</div>		   
			</th:block>

		</div>  
		
        <!--<input type="hidden"  value="addPOTD" name="buttonAction"> !-->
        <input type="submit" value="Submit" name="button">
		<p th:text=" ${errorMsg}"></p>
	</form>
		
</body>
</html>