<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
 	<title>Admin Inspection Page</title>
 </head>
 <body>
	<section>
	
		<form action="Inspection" method="POST">
		
		<label for="pDate">Select date:</label>
		<input type="date" id="start" name="inspectionDate"
        	th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>
		
		<input type="submit" value="submit">
		<p th:text=" ${errorMsg}"></p>
	</form>
		<!-- 
		<span th:text="${pOTDName != null} ? ${pOTDName.productId}">someValue</span>
		<img th:src="${(hasImageInDatabase ?: '/my-files/main-logo': '/img/default-logo.png'}"/> 
		-->
		
	</section>
</body>
</html>