@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
#container {
    width: 100%;
    height: auto;
    margin: auto;

    flex-direction: row;

    justify-content: flex-start;

    border: 5px solid #6ED0F6;

    font-family: 'Raleway', sans-serif;
}
#big-container {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    border: 5px solid #6ED0F6;

    font-family: 'Raleway', sans-serif;
}

#sub-container{
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
    margin: 2px;
	border: 2px solid #6ED0F6;
}

.name {
	position: relative;
	display: inline-block;
	width: 10%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}
.element{
    width: 33%;
    margin-right: auto;
    border: 2px solid #6ED0F6;    
}

.element-100{
    width: 100%;
    margin: auto;

}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.button-container-homepage{
    width: 80%;
    height: 90%;
    margin: auto;
    border: 5px solid #6ED0F6;
    padding: 20px;
}
.text-container{
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
}
.button-container{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    border: 5px solid #6ED0F6;

    padding: 20px;
}
.animated-button {
  background: #079BCF;
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 50px;
  width: 30%;
  margin: auto;
  overflow: hidden;
  transition: all .3s cubic-bezier(.6,0,.4,1);
}
.animated-button span {
  display: block;
  line-height: 50px;
  position: relative;
  top: -2px;
  transform: translate3d(0,0,0);
}
.animated-button:hover {
  background: #007BA5;
}